<!doctype html>
<html lang="pt">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <title>PureBlog </title>
    <link rel="stylesheet" href="css/waze.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="layout">
        <a href="#sidebar" id="menuLink"></a>
        <div id="sidebar">
             <ul>
                <a href="index.html"><li class="header">WAZE Blog</li></a>
                <a href=""><li>Home</li></a>
                <a href=""><li>Sobre</li></a>
                <a href=""><li>Contato</li></a>
            </ul>
        </div>

        <div id="row">
            <div class="col-l-1">
                <div class="container-small">
                    <div class="bloco">
                        <div class="text">
                            <h1><a href="">Lorem Ipsum</a></h1>
                            <sub>Por <a href="">Valdecir Junior</a> Em <a href="" class="tag">Lorem</a></sub>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque praesentium ipsa adipisci non ad cum veniam accusamus. Magnam, dignissimos illum at commodi soluta recusandae dicta expedita rerum earum enim sunt...</p>
                        </div>
                        <div class="continue-lendo">    
                            <a href="">Continue Lendo →</a>
                        </div>
                    </div>
                    <div class="bloco">
                        <div class="text">
                            <h1><a href="">Lorem Ipsum</a></h1>
                            <sub>Por <a href="">Valdecir Junior</a> Em <a href="" class="tag">Lorem</a></sub>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque praesentium ipsa adipisci non ad cum veniam accusamus. Magnam, dignissimos illum at commodi soluta recusandae dicta expedita rerum earum enim sunt...</p>
                        </div>
                        <div class="image">
                            <img src="img/img.jpg" alt="">
                        </div>
                        <div class="continue-lendo">    
                            <a href="">Continue Lendo →</a>
                        </div>
                    </div>
                    <div class="bloco">
                        <div class="text">
                            <h1><a href="">Lorem Ipsum</a></h1>
                            <sub>Por <a href="">Valdecir Junior</a> Em <a href="" class="tag">Lorem</a></sub>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque praesentium ipsa adipisci non ad cum veniam accusamus. Magnam, dignissimos illum at commodi soluta recusandae dicta expedita rerum earum enim sunt...</p>
                        </div>
                        <div class="image">
                            <img src="img/img.jpg" alt="">
                        </div>
                        <div class="continue-lendo">    
                            <a href="">Continue Lendo →</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="footer" class="row">
                <div class="col-l-1-3">
                    <p>Site feito com o Framework Waze CSS</p>
                </div>
                <div class="col-l-1-3">
                    <p>Valdecir Junior</p>
                </div>
                <div class="col-l-1-3">
                    <p>© 2013 Waze Blog. Todos os direitos reservados.</p>
                </div>
            </div>
        </div>
    </div>


<script src="js/ui.js"></script>

</body>
</html>
